@tailwind base;
@tailwind components;

:root {
  @apply text-[16px]
}

@media (max-width:640px) {
  :root {
    @apply text-[12px]
  }
}

@tailwind utilities;

* {
  @apply p-0 m-0 box-border text-white
}

.body {
  @apply w-screen h-screen bg-black
}

.smallwrapper .sizes:nth-of-type(3) ul {
  @apply hidden
}

.smallwrapper .sizes:nth-of-type(1) {
  background: linear-gradient(135deg, #69f, #f36);
}

.smallwrapper .sizes:nth-of-type(3) p:last-child {
  @apply mt-[10rem]
}

span {
  background-image: linear-gradient(135deg, #69f, #f36);
  background-clip: text;
  color: transparent;
  animation: filter 2s infinite linear;
}





::-webkit-scrollbar {
  width: 6px;
  background: linear-gradient(135deg, #69f, #f36);

}

::-webkit-scrollbar-thumb {
  /* background-color: indigo; */
  background-color: indigo;
  border-radius: 50px;
}


@keyframes filter {
  100% {
    filter: hue-rotate(360deg);
  }
}